html {
    font-family: 'Bangers', cursive;
    letter-spacing: 1.5px;
    background-image: radial-gradient(black, #666, black);
    color: white;
}
a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    color: rgb(177, 0, 0);
    
}

#actually {
    display: none;
}
button {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    padding: 8px;
    margin-top: -18px;
}
h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: black;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: #666;
    
}
h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
}
p {
    font-size: 25px;
}
hr {
    clear:both;
    height: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    border: solid;
    border-color: rgb(177, 0, 0);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.modalContent {
    background-color: #666;
    margin: 40% auto;
    padding: 20px;
    width: 52.4%;
}
.closeButton {
    float: right;
    color: #fff;
    font-size: 30px;
}
.closeButton:hover, .closeButton:focus {
    color: rgb(177, 0, 0);
    cursor: pointer;
}

#floaty {
    float: right;
    margin-right: 33%;
    margin-top: -14.4%;
}
#spacey {
    float: right;
    margin-right: 30%;
    margin-top: -14.4%;
}
#raz {
    float: right;
    margin-right: 24.1%;
    margin-top: -14.3%;
}
.projTitle {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-fill-color: black;
    font-size: 35px;
}