html {
    font-family: 'Bangers', cursive;
    letter-spacing: 1.5px;
    background-color: black;
    color: white;
}
a {
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    color: red;
    
}

#actually {
    display: none;
}
button {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    padding: 8px;
}
h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: black;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: #666;
    
}
h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
}
p {
    font-size: 25px;
}
hr {
    clear:both;
    height: 15px;
    width: 100%;
    background-color: black;
    border: solid;
    border-color: red;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.modalContent {
    background-color: #666;
    margin: 40% auto;
    padding: 20px;
    width: 52.4%;
}
.closeButton {
    float: right;
    color: #fff;
    font-size: 30px;
}
.closeButton:hover, .closeButton:focus {
    color: red;
    cursor: pointer;
}
.nextButton {
    height: 65px;
    width: 140px;
    position: relative;
    bottom: 245px;
    font-size: 350%;
    margin-left: 45px;
}