html {
    font-family: 'Bangers', cursive;
    letter-spacing: 1.5px;
    background-color: rgb(66, 66, 66);
    background-image: linear-gradient(to left, #666, #000);
    color: white;
    width: 100%
}
a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
    text-decoration: none;
}
a:hover {
    color: rgb(177, 0, 0);
    
}

#actually {
    display: none;
}
button {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    padding: 8px;
    margin-top: -18px;
}
h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: black;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: black;
    
}
h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
}
p {
    font-size: 25px;
}
hr {
    clear:both;
    height: 15px;
    width: 100%;
    background-color: #00abc9d7;
    border: solid;
    border-color: black;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.modalContent {
    background-color: #666;
    margin: 40% auto;
    padding: 20px;
    width: 52.4%;
}
.closeButton {
    float: right;
    color: #fff;
    font-size: 30px;
}
.closeButton:hover, .closeButton:focus {
    color: rgb(177, 0, 0);
    cursor: pointer;
}

.projTitle {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-fill-color: black;
    font-size: 40px;
}
#leftColumn {
    background-color: #00abc9d7;
    width: 32%;
    padding-left: 15px;
}
#rightColumn {
    background-color: #00abc9d7;
    float: right;
    width: 32%;
    padding-left: 15px;
    margin-right: 350px;
    margin-top: -893px;
    padding-top: 0px;
}
@media only screen and (max-width:1050px) {
     #leftColumn {
        background-color: #00abc9d7;
        width: 90%;
        padding-left: 15px;
    } 
    
    #rightColumn {
    background-color: #00abc9d7;
    float: none;
    width: 90%;
    padding-left: 15px;
    margin-top: 0;
    margin-right: 0;
    padding-top: 0;
}}
.directLink {
    color: #666;
}